@use "../../styles/vars" as *;

.about-us {
  padding: 20px;
  background-color: $cyberGrape;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  gap: 30px;
}
