@use "../../styles/vars" as *;

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $pinkLavender;
  padding-bottom: 10px;

  .footer__social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .footer__icon {
      font-size: rem(32px);
      color: $cyberGrape;
      margin: 20px 10px;

      &:hover {
        color: white;
        cursor: pointer;
        transform: scale(1.2);
      }
      transition: all 0.5s ease;
    }

    .footer__svg-container {
      .footer_svg {
        width: rem(32px);
        height: rem(32px);
        fill: $cyberGrape;

        &:hover {
          fill: white;
          cursor: pointer;
          transform: scale(1.2);
        }
        transition: all 0.5s ease;
      }
    }
  }

  .footer__contact-mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact-email__title {
      color: $cyberGrape;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .contact-email {
      text-decoration: none;
      color: $cyberGrape;
      margin-bottom: 20px;

      &:hover {
        color: white;
        cursor: pointer;
      }
      transition: all 0.5s ease;
    }

    .footer__copyright-message {
      color: $cyberGrape;
    }
  }
}
